html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: whitesmoke;
    color: black;
    overflow: hidden;
}

.e-bigger {
    font-size: x-large;
}

/*Radio Button Group*/
.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    /*border: 1px solid #fff;*/
    background-color: white;
    color: #000;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: grey;
    color: #212b36;
    /*  border: 1px solid #fff;*/
}


.e-btn-group.custom-rbt-group .e-btn:hover {
    background-color: aqua;
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn:hover {
    background-color: aqua;
    color: #fff;
}


/*Button*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
    color: red;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: grey;
}


/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}


/*Navbar*/
nav.navbar {
    background-color: #fff;
}

    nav.navbar i {
        padding: 10px;
        border-radius: 60%;
        cursor: pointer;
        color: grey;
        min-inline-size: inherit
    }

        nav.navbar i:hover, nav.navbar img:hover {
            cursor: pointer;
            background-color: #48545f14;
            transform: scale(1.15) translateZ(0px);
        }

nav.navbar {
    margin-left: 20%;
}



.e-bigger {
    font-size: x-large;
    background-color: #fff;
}

.main-content {
    margin-left: 20%;
    overflow-y: auto;
    height: 92vh;
}
/*SideBar*/
#sidebar {
    background-color: #fff;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    overflow: hidden;
}

    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }


#sidebar-toggler {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: #48545f14;
        transform: scale(1.05) translateZ(0px);
    }

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }


    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon, #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles, #sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: '\f100'
}

#sidebar.e-close #sidebar-toggler:before {
    content: '\f101'
}



/*Profile Pic*/
img.profile-pic {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}


/*Logo*/
.logo-wrapper {
    height: 5%;
    display: flex;
    align-items: center;
    margin: 5% 0;
}

.app-logo {
    padding: 20px 5px;
    width: 50%;
}
