html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
 background-color:whitesmoke;
 color:black;
}

.e-bigger {
    font-size: x-large;  
}

/*Radio Button Group*/
.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group .e-btn{
        width: 50%;
       
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    /*border: 1px solid #fff;*/
    background-color:white;
    color: #000;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: grey;
    color: #212b36;
  /*  border: 1px solid #fff;*/
}


.e-btn-group.custom-rbt-group .e-btn:hover{
background-color:aqua;
color:#fff;
}
.e-btn-group.custom-rbt-group input:checked + label.e-btn:hover{
    background-color:aqua;
    color:#fff;
}


/*Button*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
    color:red;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: grey;

}


/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}


/*Navbar*/
nav.navbar {
    background-color:#fff ;
}

    nav.navbar i {
        padding: 10px;
        border-radius: 60%;
        cursor: pointer;
        color:grey;
        min-inline-size:inherit
    }

        nav.navbar i:hover, nav.navbar img:hover {
            cursor: pointer;
            background-color: #48545f14;
            transform: scale(1.15) translateZ(0px);
        }


.e-bigger {
    
    background-color: #fff;
}
#sidebar{
    background-color:#fff;
}

.main-content {
    margin-left: 20%;
}

